name: Build Core
on:
  workflow_call:

jobs:
  build:
    name: Build for ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - x86_64-pc-windows-gnu

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install Cross
        run: cargo install cross --git https://github.com/cross-rs/cross.git

      - name: Build
        run: cross build --release --target ${{ matrix.target }}

      - name: Upload Build Result
        uses: actions/upload-artifact@v4
        with:
          # Unique name per matrix target
          name: keep_alive-${{ matrix.target }}
          # Path where 'cross' outputs the binaries
          path: |
            target/${{ matrix.target }}/release/keep_alive
            target/${{ matrix.target }}/release/keep_alive.exe
          retention-days: 1
