name: Manual Release

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag to create (e.g., 1.0.2)'
        required: true
        default: '1.0.0'

jobs:
  release:
    name: Release for ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu
            artifact_name: keep_alive       
            asset_name: keep_alive_aarch64
          - target: x86_64-pc-windows-gnu
            artifact_name: keep_aliv.exe  
            asset_name: keep_alive_x86_64.exe

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install Cross
        run: cargo install cross --git https://github.com/cross-rs/cross.git

      - name: Build
        run: cross build --release --target ${{ matrix.target }}

      - name: Prepare Artifacts
        run: |
          mkdir -p out
          cp target/${{ matrix.target }}/release/${{ matrix.artifact_name }} out/${{ matrix.asset_name }}

      - name: Create Release and Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag_name }}
          files: out/${{ matrix.asset_name }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}